@mixin v-align($position: relative) {
	position: $position;
	top: 35%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari and Chrome */
	-o-transform: translateY(-50%);
}
@mixin v-align_mdeium($position: relative) {
	position: $position;
	top: 30%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari and Chrome */
	-o-transform: translateY(-50%);
}
@mixin v-align_bottom($position: relative) {
	position: $position;
	top: 30%;
	// bottom: 10%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari and Chrome */
	-o-transform: translateY(-50%);
}
@mixin v-align_bottom_min($position: relative) {
	position: $position;
	top: 10%;
	// bottom: 10%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari and Chrome */
	-o-transform: translateY(-50%);
}
.navbar-collapse {
	margin-right: 155px;
}
.header .navbar-collapse {
	height: 88px;
}
.border-b {
	border-bottom: 3px solid white;
}
.border-s {
	border-bottom: 3px solid transparent;
}
a {
	cursor: pointer;
}
.placeholder {
	color: RGBA(255, 255, 255, 1);
}
.active {
	background: #a6281b;
}
.nav-link {
	text-transform: uppercase;
	&:hover {
		background: #a6281b;
	}
}
@media (max-width: 991px) {
	.navbar-collapse {
		margin-right: 5px;
	}
}
.headerbasic {
	position: relative;
	min-height: 115px;
	width: 100%;
	background-color: #25213f;
	.nav-link {
		font-weight: 400;
		font-family: "Roboto", serif;
		color: #fff !important;
		margin: 0px 12px;
		margin-top: 7px;
		line-height: 15px;
		font-size: 15px;
	}
	.navbar-brand {
		height: 81px;
		width: 81px;
		margin-left: 155px;
		margin-top: 10px;
		background-image: url(../../../../assets/logo.png);
		cursor: pointer;
	}
}
.header {
	position: relative;
	height: 750px;
	width: 100%;
	background-image: url(../../../../assets/header_adv.jpg);
	background-color: #25213f;
	background-position: right;
	background-repeat: no-repeat;
	.nav-link {
		font-weight: 400;
		font-family: "Roboto", serif;
		color: #fff !important;
		margin: 0px 12px;
		margin-top: 7px;
		line-height: 15px;
		font-size: 15px;
	}
	.search-field-sm {
		height: 55px;
		width: 100%;
		position: absolute !important;
		top: auto !important;
		bottom: 20px !important;
		padding-left: 40px;
		padding-right: 40px;
		.s {
			width: 80%;
		}
		.b {
			width: 20%;
		}
		@media (max-width: 500px) {
			.s {
				width: 60%;
			}
			.b {
				width: 40%;
			}
		}
		@media (max-width: 250px) {
			.s {
				width: 40%;
			}
			.b {
				width: 60%;
			}
		}
		.btn {
			height: 55px;
			font-weight: 400;
			font-size: 14px;
			font-family: "Roboto", serif;
			padding-left: 30px;
			padding-right: 30px;
		}
		.btn-danger {
			background: #a6281b;
			border: 0px;
			border-radius: 0px;
		}
		.btn-secondary {
			background: #000;
			border: 0px;
			border-radius: 0px;
		}
		.form-control {
			margin-top: 16px;
			background: transparent !important;
			border: 0px;
			border-bottom: 3px solid #fff;
			border-radius: 0px;
			padding-left: 0px;
			font-weight: 400;
			font-family: "Roboto", serif;
			color: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset,
				0 0 8px rgba(141, 153, 174, 0);
			outline: 0 none;
			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #fff;
				font-weight: 400;
				opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				font-weight: 400;
				color: #fff;
			}

			&::-ms-input-placeholder {
				/* Microsoft Edge */
				font-weight: 400;
				color: #fff;
			}
		}
	}
	.search-field {
		height: 55px;
		margin-top: 290px;
		margin-left: 160px;
		margin-right: 185px;
		.s {
			width: 70%;
		}
		.b {
			width: 30%;
		}
		@media (max-width: 1380px) {
			.s {
				width: 60%;
			}
			.b {
				width: 40%;
			}
		}
		.btn {
			height: 55px;
			font-weight: 400;
			font-size: 14px;
			font-family: "Roboto", serif;
			padding-left: 30px;
			padding-right: 30px;
		}
		.btn-danger {
			background: #a6281b;
			border: 0px;
			border-radius: 0px;
		}
		.btn-secondary {
			background: #000;
			border: 0px;
			border-radius: 0px;
		}
		.form-control {
			margin-top: 16px;
			background: transparent !important;
			border: 0px;
			border-bottom: 3px solid #fff;
			border-radius: 0px;
			padding-left: 0px;
			font-weight: 400;
			font-family: "Roboto", serif;
			color: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset,
				0 0 8px rgba(141, 153, 174, 0);
			outline: 0 none;
			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #fff;
				font-weight: 400;
				opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				font-weight: 400;
				color: #fff;
			}

			&::-ms-input-placeholder {
				/* Microsoft Edge */
				font-weight: 400;
				color: #fff;
			}
		}
	}
	.navbar-brand {
		height: 81px;
		width: 81px;
		margin-left: 155px;
		margin-top: 10px;
		background-image: url(../../../../assets/logo.png);
		cursor: pointer;
	}
	.label {
		height: 200px;
		text-align: center;
		@include v-align;
		margin: 0 auto;
		h1 {
			font-size: 67pt;
			font-weight: 300;
			font-family: "Roboto Slab", serif;
			color: #fff;
		}
		p {
			margin: 0 auto;
			width: 800px;
			font-size: 15pt;
			font-weight: 300;
			font-family: "Roboto", serif;
			color: #fff;
		}
		@media (max-width: 1024px) {
			h1 {
				font-size: 5.1vw;
			}
			p {
				width: 70%;
				font-size: 2.8vw;
			}
		}
		@media (max-width: 500px) {
			h1 {
				font-size: 5.8vw;
			}
			p {
				width: 70%;
				font-size: 3.7vw;
			}
		}
	}
}
@media screen and (min-width: 850px) and (max-height: 750px) {
	.header {
		height: 100%;
		background-position: top;
		.search-field {
			@include v-align_bottom;
			margin: 0 auto;
			margin-left: 5%;
			margin-right: 7%;
		}
		.label {
			@include v-align_mdeium;
		}
	}
}
@media screen and (min-width: 1300px) and (max-height: 750px) {
	.header {
		height: 100%;
		background-position: top;
		.search-field {
			@include v-align_bottom;
			margin: 0 auto;
			margin-left: 160px;
			margin-right: 185px;
		}
		.label {
			@include v-align_mdeium;
		}
	}
}
@media screen and (min-width: 850px) and (max-height: 500px) {
	.header {
		.search-field {
			@include v-align_bottom_min;
		}
		.label {
			h1 {
				font-size: 47pt;
				font-weight: 300;
			}
			p {
				font-size: 10pt;
				font-weight: 300;
			}
		}
	}
	@media screen and (min-width: 1300px) and (max-height: 500px) {
		.header {
			.search-field {
				@include v-align_bottom_min;
			}
			.label {
				h1 {
					font-size: 47pt;
					font-weight: 300;
				}
				p {
					font-size: 10pt;
					font-weight: 300;
				}
			}
		}
	}
}

@media (max-width: 1330px) {
	.header {
		.navbar-brand {
			margin-left: 5%;
		}
		.navbar {
			padding-right: -120px;
		}
		.nav-link {
			margin: 2px 0px;
			// font-size: 14px;
		}
		.navbar-collapse {
			margin-right: 5%;
		}
		.search-field {
			margin-left: 5%;
			margin-right: 7%;
		}
	}
	.headerbasic {
		.nav-link {
			margin: 2px 0px;
			// font-size: 14px;
		}
		.navbar-brand {
			margin-left: 5%;
		}
		.navbar-collapse {
			margin-right: 5%;
		}
	}
}

@media (min-width: 991px) {
	.search-field-sm {
		display: none;
	}
}
@media (max-width: 991px) {
	.search-field {
		display: none;
	}
	.search-field-sm {
		display: block;
	}
	.header {
		height: 570px;
		.navbar {
			margin-right: 0px;
		}
		.navbar-brand {
			margin-left: 0px;
			margin-top: 5px;
			height: 40px;
			width: 40px;
			background-image: url(../../../../assets/logo_sm.png);
		}
	}
	.headerbasic {
		.navbar {
			margin-right: 0px;
		}
		.navbar-brand {
			margin-left: 0px;
			margin-top: 5px;
			height: 40px;
			width: 40px;
			background-image: url(../../../../assets/logo_sm.png);
		}
	}
}
.bg-dark {
	background: transparent !important;
}
// .mat-focused .placeholder {
// 	color: RGBA(255, 255, 255, 0.7);
// }
// .mat-focused .mat-form-field-label {
// 	color: #fff;
// }
// .mat-focused .mat-form-field-underline .mat-form-field-ripple {
// 	background: #fff;
// }
//  .mat-focused .mat-form-field-label {
// 	/*change color of label*/
// 	color: #fff !important;
// }

// .mat-form-field-underline {
// 	/*change color of underline*/
// 	background-color: #fff !important;
// }

// .mat-form-field-ripple {
// 	/*change color of underline when focused*/
// 	background-color: #fff !important;
// }
// /* input color class */
//  input.mat-input-element {
// 	color: #fff !important;
// 	caret-color: #fff;
// }

// /* Change label color on focused */
//  .mat-form-field.mat-focused .mat-form-field-label {
// 	color: #fff !important;
// }
