<ng-container *ngIf="advanced">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-brand" (click)="linkMain()"></div>
      <ul class="nav ml-auto navbar-nav d-lg-none d-xl-none mr-4">
        <li class="pull-right">
          <a
            class="nav-item nav-link"
            (click)="linkSearch()"
            [style.background]="'transparent'"
          >
            <img [style.margin-top]="'-13px'" src="assets/lens.png" />
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        [ngClass]="{ 'border-b': isCollapsed }"
        id="navbarNavAltMarkup"
        [ngbCollapse]="isCollapsed"
      >
        <div class="navbar-nav mt-1">
          <a
            class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]="['/source']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Источники данных</a
          >
          <a
            class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]="['/about']"
            >О проекте</a
          >
          <a
            class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]="['/more']"
            >Больше о принудительном труде</a
          >
        </div>
        <div class="navbar-nav mt-1 ml-auto">
          <a
            class="nav-item nav-link"
            *ngIf="isCollapsed"
            (click)="linkSearch()"
            [style.background]="'transparent'"
          >
            <img [style.margin-top]="'-13px'" src="assets/lens.png" />
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          </a>
          <a class="nav-item nav-link" (click)="open()">Карта списков</a>
        </div>
      </div>
    </nav>
    <div class="label">
      <h1>Списки</h1>
      <p>
        Info
      </p>
    </div>
    <div class="search-field-sm">
      <div class="row">
        <div class="s" [style.height]="'100%'">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="searchhead"
              id="searchhead"
              autocomplete="off"
              placeholder="Поиск по гео. объекту"
              [(ngModel)]="mainstoreService.searchFilter.searchStr"
            />
          </div>
          <!-- <mat-form-field class="form-group w-100">
            <input matInput id="searchmainsmall" />
            <mat-placeholder class="placeholder"
              >Поиск по гео. объекту</mat-placeholder
            >
          </mat-form-field> -->
        </div>
        <div class="b" [style.height]="'100%'">
          <button
            class="btn btn-danger float-right d-inline-block"
            (click)="linkSearchbase()"
          >
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="search-field">
      <div class="row">
        <div
          class="s"
          [style.padding-right]="'10px'"
          [style.padding-left]="'15px'"
          [style.height]="'100%'"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="searchhead"
              id="searchhead"
              autocomplete="off"
              placeholder="Поиск по населенному пункту / району / области / республике"
              [(ngModel)]="mainstoreService.searchFilter.searchStr"
            />
          </div>
          <!-- <mat-form-field class="form-group w-100" [style.margin-top]="'8px'">
            <input matInput id="searchmainbig" />
            <mat-placeholder class="placeholder"
              >Поиск по населенному пункту / району / области /
              республике</mat-placeholder
            >
          </mat-form-field> -->
        </div>
        <div class="b" [style.height]="'100%'">
          <button
            class="btn btn-secondary float-right d-inline-block"
            (click)="linkSearch()"
          >
            Расширенный поиск
          </button>
          <button
            class="btn btn-danger mr-3 float-right d-inline-block"
            (click)="linkSearchbase()"
          >
            Найти
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!advanced">
  <div class="headerbasic">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-brand" (click)="linkMain()"></div>
      <ul class="nav ml-auto navbar-nav d-lg-none d-xl-none mr-4">
        <li class="pull-right">
          <a
            class="nav-item nav-link"
            (click)="linkSearch()"
            [style.background]="'transparent'"
          >
            <img [style.margin-top]="'-13px'" src="assets/lens.png" />
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        [ngClass]="{ 'border-s': isCollapsed }"
        id="navbarNavAltMarkup"
        [ngbCollapse]="isCollapsed"
      >
        <div class="navbar-nav mt-1">
          <a
            class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]="['/source']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Источники данных</a
          >
          <a
            class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]="['/about']"
            >О проекте</a
          >
          <a
            class="nav-item nav-link"
            routerLinkActive="active"
            [routerLink]="['/more']"
            >Больше о принудительном труде</a
          >
        </div>
        <div class="navbar-nav mt-1 ml-auto">
          <a
            class="nav-item nav-link"
            *ngIf="isCollapsed"
            (click)="linkSearch()"
            [style.background]="'transparent'"
          >
            <img [style.margin-top]="'-13px'" src="assets/lens.png" />
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          </a>
          <a class="nav-item nav-link" (click)="open()">Карта списков</a>
        </div>
      </div>
    </nav>
  </div>
</ng-container>
