<div class="exit" (click)="close()">
  <img src="assets/close_ico.png" />
</div>
<div class="dialog">
  <h1>Правила использования архива</h1>
  <p>
    Все материалы сайта представлены для ознакомительных и образовательных
    целей.
  </p> 
</div>
