<div class="content" @fade>
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row" [style.margin-top]="'37px'">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-4" [style.margin-top]="'-7px'">
      <div [style.margin-right]="'30px'">
        <h2>Угон</h2>
        <p class="graycolor" [style.font-size]="'12px'" [style.width]="'180px'">
          Территориальное устройство СССР приводится по состоянию на 1944 год
        </p>
        <p class="mt-4">
          <a [routerLink]="['/all']" [queryParams]="{ rtype: 0 }">Все списки</a>
        </p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
      *ngFor="
        let republic of mainstoreService?.republicsSteal;
        let rep_last = last
      "
    >
      <div [style.margin-right]="'30px'">
        <div
          class="d-none d-xs-none d-sm-none d-md-block d-lg-block d-xl-block"
        >
          <div class="flag" [className]="'flag ' + republic.flagClass"></div>
          <div [style.padding-top]="'3px'" [style.margin-bottom]="'35px'">
            <h3>{{ republic.short_name }}</h3>
          </div>
          <p
            class="mt-4"
            *ngFor="let region of republic?.regions | slice: 0:8"
            (click)="linkAll(region?.id, republic?.rtype)"
            [style.cursor]="'pointer'"
          >
            {{ region.name }}
          </p>
        </div>
        <div class="d-block d-md-none d-lg-none d-xl-none">
          <mat-expansion-panel [class.mat-expansion-panel]="false">
            <mat-expansion-panel-header [style.margin-left]="'-25px'">
              <mat-panel-title>
                <div
                  class="flag"
                  [className]="'flag ' + republic.flagClass"
                ></div>
                <div [style.padding-top]="'3px'">
                  <h3>{{ republic.short_name }}</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p
              *ngFor="let region of republic?.regions | slice: 0:8"
              (click)="linkAll(region?.id, republic?.rtype)"
              [style.cursor]="'pointer'"
              [style.margin-left]="'-25px'"
            >
              {{ region.name }}
            </p>
          </mat-expansion-panel>
          <hr />
        </div>
      </div>
    </div>
    <ng-container
      *ngIf="
        mainstoreService?.republicsWork == null ||
        mainstoreService?.republicsWork.length === 0
      "
    >
      <div
        class="col-12 float-right"
        max-width="900px"
        *ngIf="mainstoreService?.republicsSteal?.length > 2"
      >
        <img
          class="float-right"
          src="assets/ost.png"
          [style.max-width]="'338px'"
          [style.width]="'100%'"
        />
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-right"
        max-width="900px"
        *ngIf="mainstoreService?.republicsSteal?.length === 2"
      >
        <img
          class="float-right"
          src="assets/ost.png"
          [style.max-width]="'338px'"
          [style.width]="'100%'"
        />
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 float-right"
        max-width="900px"
        *ngIf="mainstoreService?.republicsSteal?.length === 1"
      >
        <img
          class="float-right"
          src="assets/ost.png"
          [style.max-width]="'338px'"
          [style.width]="'100%'"
        />
      </div>
    </ng-container>
  </div>
  <div
    class="row"
    [style.margin-top]="'37px'"
    *ngIf="
      mainstoreService?.republicsWork != null &&
      mainstoreService?.republicsWork.length > 0
    "
  >
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-4" [style.margin-top]="'-7px'">
      <div [style.margin-right]="'30px'">
        <h2>Работа</h2>
        <p class="graycolor" [style.font-size]="'12px'" [style.width]="'180px'">
          Приводится современное территориальное устройство
        </p>
        <p class="mt-4">
          <a [routerLink]="['/all']" [queryParams]="{ rtype: 1 }">Все списки</a>
        </p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
      *ngFor="
        let republic of mainstoreService?.republicsWork;
        let rep_last = last
      "
    >
      <div [style.margin-right]="'30px'">
        <div
          class="d-none d-xs-none d-sm-none d-md-block d-lg-block d-xl-block"
        >
          <div class="flag" [className]="'flag ' + republic.flagClass"></div>
          <div [style.padding-top]="'3px'" [style.margin-bottom]="'35px'">
            <h3>{{ republic.short_name }}</h3>
          </div>
          <p
            class="mt-4"
            *ngFor="let region of republic?.regions | slice: 0:8"
            (click)="linkAll(region?.id, republic?.rtype)"
            [style.cursor]="'pointer'"
          >
            {{ region.name }}
          </p>
        </div>
        <div class="d-block d-md-none d-lg-none d-xl-none">
          <mat-expansion-panel [class.mat-expansion-panel]="false">
            <mat-expansion-panel-header [style.margin-left]="'-25px'">
              <mat-panel-title>
                <div
                  class="flag"
                  [className]="'flag ' + republic.flagClass"
                ></div>
                <div [style.padding-top]="'3px'">
                  <h3>{{ republic.short_name }}</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p
              *ngFor="let region of republic?.regions | slice: 0:8"
              (click)="linkAll(region?.id, republic?.rtype)"
              [style.cursor]="'pointer'"
              [style.margin-left]="'-25px'"
            >
              {{ region.name }}
            </p>
          </mat-expansion-panel>
          <hr />
        </div>
      </div>
    </div>
    <div
      class="col-12 float-right"
      max-width="900px"
      *ngIf="mainstoreService?.republicsWork?.length > 2"
    >
      <img
        class="float-right"
        src="assets/ost.png"
        [style.max-width]="'338px'"
        [style.width]="'100%'"
      />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 float-right"
      max-width="900px"
      *ngIf="mainstoreService?.republicsWork?.length === 2"
    >
      <img
        class="float-right"
        src="assets/ost.png"
        [style.max-width]="'338px'"
        [style.width]="'100%'"
      />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 float-right"
      max-width="900px"
      *ngIf="mainstoreService?.republicsWork?.length === 1"
    >
      <img
        class="float-right"
        src="assets/ost.png"
        [style.max-width]="'338px'"
        [style.width]="'100%'"
      />
    </div>
  </div>
</div>
