h2 {
	margin-bottom: 10px;
	font-size: 26pt;
	font-weight: 400;
	font-family: "Roboto Slab", serif;
	color: #000;
}
h3 {
	font-size: 15pt;
	font-weight: 600;
	font-family: "Roboto", serif;
	color: #000;
}
.graycolor {
	color: #b1b1b1 !important;
}
p {
	font-size: 14px;
	font-family: "Roboto", serif;
	color: #000;
	&:hover {
		color: #a6281b;
	}
}
