// :host {
// 	flex: 0 0 30px;
// 	display: flex;
// 	.pagination {
// 		width: 100%;
// 		// position: relative;
// 		background: #fff;
// 		display: flex;
// 		flex-direction: row;
// 		align-items: center;
// 		align-self: right;
// 		.numbers {
// 			display: block;
// 			text-align: left;
// 		}
// 	}
// 	.btn.btn-light {
// 		margin-right: 0px;
// 	}
// }
