.placeholder {
	color: RGBA(0, 0, 0, 0.7);
}
.mat-focused .placeholder {
	color: RGBA(0, 0, 0, 0.5);
}
.mat-focused .mat-form-field-label {
	color: #323232;
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
	background: #323232;
}
.mat-focused .mat-form-field-label {
	/*change color of label*/
	color: #323232 !important;
}

.mat-form-field-underline {
	/*change color of underline*/
	background-color: #323232 !important;
}
.mat-form-field-disabled {
	.mat-form-field-underline {
		background-color: #f2f2f2 !important; // this is the default color
	}
}
.mat-form-field-ripple {
	/*change color of underline when focused*/
	background-color: #323232 !important;
}
/* input color class */
input.mat-input-element {
	color: #323232 !important;
	caret-color: #323232;
}
.btn {
	height: 45px;
	font-weight: 400;
	font-size: 14px;
	font-family: "Roboto", serif;
	padding-left: 30px;
	padding-right: 30px;
}
.btn-danger {
	background: #a6281b;
	border: 0px;
	border-radius: 0px;
}
.toponim {
	color: #a6281b;
	cursor: pointer;
	&:hover {
		color: #000;
	}
}
