<div class="content" @fade>
  <div class="row mb-3">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-none d-lg-block d-xl-block"
    >
      <div
        class="custom-control custom-radio custom-control-inline ml-1"
        [style.margin-top]="'-3px'"
        [style.margin-bottom]="'5px'"
      >
        <input
          type="radio"
          class="custom-control-input"
          id="rtype"
          name="rtype"
          [value]="null"
          [(ngModel)]="rtype"
        />
        <label class="custom-control-label" for="rtype">Везде</label>
      </div>
      <div
        class="custom-control custom-radio custom-control-inline ml-1"
        [style.margin-top]="'-3px'"
        [style.margin-bottom]="'5px'"
      >
        <input
          type="radio"
          class="custom-control-input"
          id="rtype0"
          name="rtype0"
          [value]="0"
          [(ngModel)]="rtype"
        />
        <label class="custom-control-label" for="rtype0"
          >Территории угона</label
        >
      </div>
      <div
        class="custom-control custom-radio custom-control-inline ml-1"
        [style.margin-top]="'-3px'"
        [style.margin-bottom]="'5px'"
      >
        <input
          type="radio"
          class="custom-control-input"
          id="rtype1"
          name="rtype1"
          [value]="1"
          [(ngModel)]="rtype"
        />
        <label class="custom-control-label" for="rtype1"
          >Территории работ</label
        >
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-block d-lg-none d-xl-none"
    >
      <div
        class="custom-control custom-radio ml-1"
        [style.margin-top]="'-3px'"
        [style.margin-bottom]="'5px'"
      >
        <input
          type="radio"
          class="custom-control-input"
          id="srtype"
          name="srtype"
          [value]="null"
          [(ngModel)]="rtype"
        />
        <label class="custom-control-label" for="srtype">Везде</label>
      </div>
      <div
        class="custom-control custom-radio ml-1"
        [style.margin-top]="'-3px'"
        [style.margin-bottom]="'5px'"
      >
        <input
          type="radio"
          class="custom-control-input"
          id="srtype0"
          name="srtype0"
          [value]="0"
          [(ngModel)]="rtype"
        />
        <label class="custom-control-label" for="srtype0"
          >Территории угона</label
        >
      </div>
      <div
        class="custom-control custom-radio ml-1"
        [style.margin-top]="'-3px'"
        [style.margin-bottom]="'5px'"
      >
        <input
          type="radio"
          class="custom-control-input"
          id="srtype1"
          name="srtype1"
          [value]="1"
          [(ngModel)]="rtype"
        />
        <label class="custom-control-label" for="srtype1"
          >Территории работ</label
        >
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <mat-form-field class="form-group w-100">
        <input
          matInput
          id="searchkey"
          [(ngModel)]="mainstoreService.searchFilter.searchStr"
        />
        <mat-placeholder class="placeholder"
          >Поиск по населенному пункту / району / области /
          республике</mat-placeholder
        >
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <button class="btn btn-danger d-inline-block" (click)="search()">
        Найти
      </button>
    </div>
  </div>
  <div class="row mt-2" *ngIf="showToponims === true">
    <div class="col-12" *ngIf="regions?.length > 0">
      <p>
        <span class="graycolor mr-4">Найденные топонимы (регионы):</span
        ><span
          (click)="linkSearch(region?.republic_id, region?.id)"
          class="toponim"
          *ngFor="let region of regions; let last = last"
          >{{ region.name }}
          <span class="mr-3 ml-3 redcolor" *ngIf="!last">|</span>
        </span>
      </p>
    </div>
    <div class="col-12" *ngIf="districts?.length > 0">
      <p>
        <span class="graycolor mr-4">Найденные топонимы (районы):</span
        ><span
          (click)="
            linkSearch(district?.republic_id, district?.region_id, district.id)
          "
          class="toponim"
          *ngFor="let district of districts; let last = last"
          >{{ district.name }}
          <span class="mr-3 ml-3 redcolor" *ngIf="!last">|</span>
        </span>
      </p>
    </div>
    <div class="col-12" *ngIf="localites?.length > 0">
      <p>
        <span class="graycolor mr-4"
          >Найденные топонимы (населенные пункты):</span
        ><span
          (click)="
            linkSearch(
              locality?.republic_id,
              locality?.region_id,
              locality?.district_id,
              locality?.id
            )
          "
          class="toponim"
          *ngFor="let locality of localites; let last = last"
          >{{ locality.name }}
          <span class="mr-3 ml-3 redcolor" *ngIf="!last">|</span>
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
      *ngFor="let list of lists"
    >
      <div class="text-center">
        <img
          src="{{ list.preview }}"
          alt=""
          (click)="linkList(list.id)"
          [style.cursor]="'pointer'"
        />
        <p (click)="linkList(list.id)" [style.cursor]="'pointer'">
          {{ list.archive }}. Ф. {{ list.fond }}. Оп. {{ list.opis }}. Д.
          {{ list.delo }} Л. {{ list.sheets }}
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="mainstoreService.searchFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</div>
