<div class="content" @fade>
  <div class="row">
    <div class="col-12">
      <h1 [style.margin-bottom]="'30px'">{{ title }}</h1>
    </div>
    <div class="col-12" [style.margin-bottom]="'20px'">
      <p>
        <span>Внесено {{ regionsCount }} {{ regionsStr }}</span
        ><span class="ml-3 mr-3 graycolor">|</span
        ><span>{{ districtsCount }} {{ districtsStr }}</span
        ><span class="ml-3 mr-3 graycolor">|</span
        ><span>{{ localitesCount }} {{ localitesStr }}</span>
      </p>
    </div>
  </div>
  <div class="row" [style.margin-left]="'-38px'">
    <div class="col-12">
      <mat-expansion-panel
        [class.mat-expansion-panel]="false"
        *ngFor="let republic of republics; let rep_last = last"
        [expanded]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="flag" [className]="'flag ' + republic.flagClass"></div>
            <div [style.padding-top]="'3px'">
              <h3>
                {{ republic.short_name }}
                <span class="ml-1 graycolor">{{ republic.cnt }}</span>
              </h3>
              <hr />
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let region of republic?.regions">
          <div [style.padding-left]="'70px'">
            <p
              class="reg"
              [ngClass]="{ active: !region.isCollapsed }"
              [style.cursor]="'pointer'"
              [style.font-weight]="'bold'"
              (click)="region.isCollapsed = !region.isCollapsed"
              [attr.aria-expanded]="!region.isCollapsed"
            >
              {{ region.name }}
              <span class="ml-1 graycolor" [style.font-weight]="'500'">{{
                region.cnt
              }}</span>
            </p>
          </div>
          <ng-container *ngFor="let distric of region?.districs">
            <div
              [ngbCollapse]="region.isCollapsed"
              [style.padding-left]="'100px'"
              [style.margin-bottom]="'20px'"
            >
              <p
                class="reg"
                [ngClass]="{ active: !distric.isCollapsed }"
                [style.cursor]="'pointer'"
                (click)="
                  distric.isCollapsed = !distric.isCollapsed;
                  setLocality(distric)
                "
                [attr.aria-expanded]="!distric.isCollapsed"
              >
                {{ distric.name }}
                <span class="ml-1 graycolor">{{ distric.cnt }}</span>
              </p>
            </div>
            <div
              [ngbCollapse]="distric.isCollapsed"
              [style.padding-top]="'20px'"
              [style.padding-bottom]="'10px'"
              [style.padding-left]="'100px'"
              [style.margin-bottom]="'20px'"
              [style.background]="'#f2f2f2'"
            >
              <div class="row">
                <ng-container *ngFor="let locality of distric?.localites">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <p
                      (click)="
                        linkSearch(
                          republic?.id,
                          region?.id,
                          distric?.id,
                          locality?.id
                        )
                      "
                      class="localityname"
                    >
                      {{ locality.name }}
                    </p>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <hr />
      </mat-expansion-panel>
    </div>
  </div>
</div>
