.active {
	color: #a6281b !important;
	background: #fff;
}
.localityname {
	cursor: pointer;
	&:hover {
		color: #c2c2c2;
	}
}
h3 {
	font-size: 15pt;
	font-weight: 400;
	color: #000;
	font-family: "Roboto Slab", serif;
	&:hover {
		color: #c2c2c2;
	}
}
.reg {
	&:hover {
		color: #c2c2c2;
	}
}
h2 {
	margin-bottom: 10px;
	font-size: 26pt;
	font-weight: 400;
	font-family: "Roboto Slab", serif;
	color: #000;
}
.graycolor {
	color: #b1b1b1 !important;
}