<app-header></app-header>
<div class="wrapper">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
<ngx-spinner
  class="myspiner"
  bdColor="rgba(51,51,51,0.8)"
  color="rgba(255,255,255,0.8)"
  type="ball-spin-clockwise-fade"
>
</ngx-spinner>
