.row {
	margin: 0;
	height: 78px;
}
// .back {
// 	background: white;

button {
	font-weight: 400;
	font-size: 13px;
	font-family: "Roboto", serif;
	color: #fff;
	background: transparent !important;
	border: 0 !important;
	box-shadow: 0 !important;
	outline: 0 none !important;
}
