<div class="wrapper">
  <div class="row">
    <div
      class="col-3 d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block"
      [style.background]="'white'"
      [style.padding-top]="'25px'"
    >
      <button
        [style.margin-left]="'135px'"
        [style.color]="'#000'"
        (click)="onTop()"
      >
        Наверх
      </button>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
      [style.padding-top]="'25px'"
    >
      <button
        [style.cursor]="'default'"
        class="d-inline"
        [style.white-space]="'nowrap'"
      >
        +0 (000) 000 00 00
      </button>
      <button class="ml-4 mr-4 d-inline" [style.cursor]="'default'">
        mail@mail.ru
      </button>
      <button
        class="d-none d-xs-none d-sm-none d-md-none d-lg-none d-xl-inline"
        (click)="open()"
      >
        Правила использования архива
      </button>
      <button
        class="d-inline d-xs-inline d-sm-inline d-md-inline d-lg-inline d-xl-none"
        (click)="open()"
      >
        Правила
      </button>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-3"
      [style.padding-top]="'25px'"
    >
      <button [style.cursor]="'default'">© {{ year }} «Списки»</button>
    </div>
  </div>
</div>
