<div class="content" @fade>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <mat-form-field class="form-group w-100">
        <mat-placeholder class="placeholder">Республика</mat-placeholder>
        <mat-select
          (selectionChange)="selectRepublic($event.value)"
          [(ngModel)]="mainstoreService.searchFilter.selectedRepublic_id"
        >
          <mat-option>
            Не выбрано
          </mat-option>
          <mat-option
            *ngFor="let republic of mainstoreService?.republics"
            [value]="republic.id"
          >
            {{ republic.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <mat-form-field class="form-group w-100">
        <mat-placeholder class="placeholder">Регион</mat-placeholder>
        <mat-select
          (selectionChange)="selectRegion($event.value)"
          [(ngModel)]="mainstoreService.searchFilter.selectedRegion_id"
        >
          <ng-container
            *ngIf="mainstoreService.searchFilter.selectedRepublic == null"
          >
            <mat-option>
              Не выбрано
            </mat-option>
            <mat-option
              *ngFor="let region of mainstoreService?.regions"
              [value]="region.id"
            >
              {{ region.name }}
            </mat-option>
          </ng-container>
          <ng-container
            *ngIf="mainstoreService.searchFilter.selectedRepublic != null"
          >
            <mat-option>
              Не выбрано
            </mat-option>
            <mat-option
              *ngFor="
                let region of mainstoreService.searchFilter.selectedRepublic
                  ?.regions
              "
              [value]="region.id"
            >
              {{ region.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <mat-form-field class="form-group w-100">
        <mat-placeholder class="placeholder">Район</mat-placeholder>
        <mat-select
          (selectionChange)="selectDistric($event.value)"
          [disabled]="
            mainstoreService.searchFilter.selectedRegion == null ||
            mainstoreService.searchFilter.selectedRegion_id == null
          "
          [(ngModel)]="mainstoreService.searchFilter.selectedDistric_id"
        >
          <ng-container
            *ngIf="mainstoreService.searchFilter.selectedRegion == null"
          >
            <mat-option>
              Не выбрано
            </mat-option>
            <mat-option
              *ngFor="let distric of mainstoreService?.districts"
              [value]="distric.id"
            >
              {{ distric.name }}
            </mat-option>
          </ng-container>
          <ng-container
            *ngIf="mainstoreService.searchFilter.selectedRegion != null"
          >
            <mat-option>
              Не выбрано
            </mat-option>
            <mat-option
              *ngFor="
                let distric of mainstoreService.searchFilter.selectedRegion
                  ?.districs
              "
              [value]="distric.id"
            >
              {{ distric.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <mat-form-field class="form-group w-100">
        <mat-placeholder class="placeholder">Населенный пункт</mat-placeholder>
        <mat-select
          (selectionChange)="selectLocality($event.value)"
          [disabled]="
            mainstoreService.searchFilter.selectedDistric == null ||
            mainstoreService.searchFilter.selectedDistric_id == null
          "
          [(ngModel)]="mainstoreService.searchFilter.selectedLocality_id"
        >
          <mat-option
            *ngFor="
              let locality of mainstoreService.searchFilter.selectedDistric
                ?.localites
            "
            [value]="locality.id"
          >
            {{ locality.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div
        class="float-right mb-1"
        [style.border-bottom]="'2px solid #a6281b'"
        [style.padding-bottom]="'3px'"
        [style.padding-top]="'6px'"
        [style.color]="'#a6281b'"
      >
        <a (click)="linkMap()" [style.cursor]="'pointer'">
          Выбрать на карте
        </a>
      </div>
    </div>
  </div>
  <div class="row" [style.min-height]="calcHeight + 'px'">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
      *ngFor="let list of lists"
    >
      <div class="text-center">
        <img
          src="{{ list.preview }}"
          alt=""
          (click)="linkList(list.id)"
          [style.cursor]="'pointer'"
        />
        <p (click)="linkList(list.id)" [style.cursor]="'pointer'">
          {{ list.archive }}. Ф. {{ list.fond }}. Оп. {{ list.opis }}. Д.
          {{ list.delo }} Л. {{ list.sheets }}
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="mainstoreService.searchFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</div>
<div
  class="row"
  *ngIf="
    (mainstoreService.searchFilter.selectedLocality != null &&
      mainstoreService.searchFilter.selectedLocality_id != null) ||
    mapOpened == true
  "
>
  <div class="col-12">
    <div
      #mapelm
      leaflet
      style="height: 300px"
      [leafletOptions]="options"
      (leafletMapReady)="mapReady($event)"
    ></div>
  </div>
</div>
