.toponim {
	color: #a6281b;
	cursor: pointer;
	&:hover {
		color: #000;
	}
}

drag-scroll {
	height: auto;
	width: 100%;
}
img {
	height: auto;
	width: 280px;
	margin-right: 10px;
	cursor: pointer;
}
/**scroll*/
// ::-webkit-scrollbar {
// 	height: 7px;
// 	width: 7px;
// }
// ::-webkit-scrollbar-track {
// 	border-radius: 0;
// }
// ::-webkit-scrollbar-thumb {
// 	background: blue;
// 	border-radius: 0;
// }
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: blue;
// }
.progress-bar {
	position: fixed;
	top: 100px;
	left: 260px;
	right: 50px;
	background: RGBA(0, 0, 0, 0);
	color: #000;
}
@media (max-width: 991px) {
	.progress-bar {
		left: 90px;
	}
}