<div class="content">
  <div class="row">
    <div class="col-12">
      <p class="mt-2">
        <a [routerLink]="['/search']">Вернуться к списку документов</a>
      </p>
    </div>
    <div class="col-12">
      <h1 [style.padding-bottom]="'0px'">
        Документ {{ selectedList?.archive }}. Ф. {{ selectedList?.fond }}. Оп.
        {{ selectedList?.opis }}. Д. {{ selectedList?.delo }} Л.
        {{ selectedList?.sheets }}
      </h1>
    </div>
    <div class="col-12" [style.margin-top]="'-10px'">
      <p class="graycolor">
        Дата составления: {{ selectedList?.preparation_date }}
      </p>
      <hr />
    </div>
    <div class="col-12">
      <p>
        <span class="graycolor mr-4">Топонимы, упоминаемые в документе</span
        ><span
          (click)="
            linkSearch(
              listlocalityLink?.republic_id,
              listlocalityLink?.region_id,
              listlocalityLink?.district_id,
              listlocalityLink?.id
            )
          "
          class="toponim"
          *ngFor="let listlocalityLink of listlocalityLinks; let last = last"
          >{{ listlocalityLink.name }}
          <span class="mr-3 ml-3 redcolor" *ngIf="!last">|</span>
        </span>
      </p>
      <hr />
    </div>
  </div>
  <div class="row mt-2" *ngIf="selectedListFiles?.length > 0">
    <div class="col-12">
      <div
        class="drag-scroll"
        [style.overflow-x]="'auto'"
        [style.overflow-y]="'hidden'"
        style="position: inherit;"
      >
        <div [style.width]="calcWidth + 'px'">
          <img
            style="float: left;"
            *ngFor="let selectedListFile of selectedListFiles"
            (click)="onShowImg(selectedListFile.id)"
            src="{{ selectedListFile.preview }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="mapOpened === true">
  <div class="col-12">
    <div
      #mapelm
      leaflet
      style="height: 300px"
      [leafletOptions]="options"
      (leafletMapReady)="mapReady($event)"
    ></div>
  </div>
</div>
<div [style.display]="showGallary === false ? 'none' : 'block'">
  <ngx-gallery
    (previewChange)="previewChange($event)"
    [style.display]="showGallary === false ? 'none' : 'block'"
    [options]="galleryOptions"
    (previewClose)="showGallary = false; galleryImages.length = 0"
    [images]="galleryImages"
    #gallary
  ></ngx-gallery>
</div>
