<div class="exit" (click)="close()">
  <img src="assets/close_ico.png" />
</div>
<div class="dialog" [style.margin-bottom]="'0px'">
  <h1>Карта списков</h1>
</div>
<div>
  <div
    id="map"
    #mapelm
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="mapReady($event)"
  ></div>
</div>
