// #map {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	width: 100%;
// 	height: 700px;
// }
#map {
	height: calc(100% - 150px) !important;
	width: calc(100% - 60px) !important;
	margin-top: -50px;
	margin-right: 30px !important;
	margin-left: 30px !important;
	position: absolute !important;
}
