@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap&subset=cyrillic");
$main_bg: #25213f;
$white: #fff;
$whiteplaceholder: RGBA(255, 255, 255, 1);

.redcolor {
	color: #a6281b !important;
}
// @mixin v-align($position: relative) {
// 	position: $position;
// 	top: 35%;
// 	transform: translateY(-50%);
// 	-ms-transform: translateY(-50%); /* IE */
// 	-moz-transform: translateY(-50%); /* Firefox */
// 	-webkit-transform: translateY(-50%); /* Safari and Chrome */
// 	-o-transform: translateY(-50%);
// }
body {
	padding: 0;
	margin: 0;
}
html,
body,
#map {
	height: 100%;
	// width: 100vw;
}
html,
body {
	background: $main_bg !important;
	font-family: "Roboto Slab", serif !important;
}
.wrapper {
	background: $main_bg;
	padding: 0px 40px 0px 40px !important;
}
@media (max-width: 1024px) {
	.wrapper {
		padding: 0px 10px 0px 10px !important;
	}
}
.main {
	background: $white;
}
.dialog {
	padding: 30px 5% 40px 5%;
	h1 {
		font-size: 35pt;
		margin-bottom: 50px;
		font-weight: 300;
		font-family: "Roboto Slab", serif;
		color: $white;
	}
	p {
		color: #fff;
		font-size: 14pt;
		font-family: "Roboto", serif;
		font-weight: 200;
	}
}
.exit {
	color: white;
	position: absolute;
	top: 55px;
	right: 100px;
	cursor: pointer;
}

@media (max-width: 1300px) {
	.dialog {
		h1 {
			font-size: 3.3vw;
		}
		p {
			font-size: 14pt;
		}
	}
	.exit {
		top: 40px;
		right: 80px;
	}
}
@media (max-width: 700px) {
	.dialog {
		padding: 30px 5% 40px 5%;
		h1 {
			font-size: 20px;
		}
		p {
			font-size: 12pt;
		}
	}
	.exit {
		top: 35px;
		right: 50px;
	}
}
.content {
	padding: 40px 5% 40px 5%;
	a {
		color: #a6281b;
		font-family: "Roboto", serif;
		&:hover {
			color: #a6281b;
			text-decoration: underline;
		}
	}
	h1 {
		font-size: 29pt;
		font-weight: 700;
		font-family: "Roboto Slab", serif;
		color: #000;
		margin-bottom: 30px;
	}
	// h2 {
	// 	margin-bottom: 10px;
	// 	font-size: 26pt;
	// 	font-weight: 400;
	// 	font-family: "Roboto Slab", serif;
	// 	color: #000;
	// }
	// h3 {
	// 	font-size: 15pt;
	// 	font-weight: 600;
	// 	font-family: "Roboto", serif;
	// 	color: #000;
	// }
	h4 {
		font-size: 24pt;
		font-weight: 400;
		font-family: "Roboto Slab", serif;
		color: #000;
		margin-bottom: 30px;
	}
	p {
		// font-size: 14px;
		font-family: "Roboto", serif;
		color: #000;
	}
	span {
		font-family: "Roboto", serif;
	}
}

//header, 2 типа advanced и basic
// .headerbasic {
// 	position: relative;
// 	min-height: 115px;
// 	width: 100%;
// 	background-color: $main_bg;
// 	.nav-link {
// 		font-weight: 400;
// 		font-family: "Roboto", serif;
// 		color: $white !important;
// 		margin: 0px 12px;
// 		margin-top: 7px;
// 		line-height: 15px;
// 		font-size: 15px;
// 	}
// 	.navbar-brand {
// 		height: 81px;
// 		width: 81px;
// 		margin-left: 155px;
// 		margin-top: 10px;
// 		background-image: url(assets/logo.png);
// 		cursor: pointer;
// 	}
// }
// .header {
// 	position: relative;
// 	height: 750px;
// 	width: 100%;
// 	background-image: url(assets/header_adv.jpg);
// 	background-color: #25213f;
// 	background-position: right;
// 	background-repeat: no-repeat;
// 	.nav-link {
// 		font-weight: 400;
// 		font-family: "Roboto", serif;
// 		color: $white !important;
// 		margin: 0px 12px;
// 		margin-top: 7px;
// 		line-height: 15px;
// 		font-size: 15px;
// 	}
// 	.search-field-sm {
// 		height: 55px;
// 		width: 100%;
// 		position: absolute !important;
// 		top: auto !important;
// 		bottom: 20px !important;
// 		padding-left: 40px;
// 		padding-right: 40px;
// 		.s {
// 			width: 80%;
// 		}
// 		.b {
// 			width: 20%;
// 		}
// 		@media (max-width: 500px) {
// 			.s {
// 				width: 60%;
// 			}
// 			.b {
// 				width: 40%;
// 			}
// 		}
// 		@media (max-width: 250px) {
// 			.s {
// 				width: 40%;
// 			}
// 			.b {
// 				width: 60%;
// 			}
// 		}
// 		.btn {
// 			height: 55px;
// 			font-weight: 400;
// 			font-size: 14px;
// 			font-family: "Roboto", serif;
// 			padding-left: 30px;
// 			padding-right: 30px;
// 		}
// 		.btn-danger {
// 			background: #a6281b;
// 			border: 0px;
// 			border-radius: 0px;
// 		}
// 		.btn-secondary {
// 			background: #000;
// 			border: 0px;
// 			border-radius: 0px;
// 		}
// 		.form-control {
// 			margin-top: 16px;
// 			background: transparent !important;
// 			border: 0px;
// 			border-bottom: 3px solid $white;
// 			border-radius: 0px;
// 			padding-left: 0px;
// 			font-weight: 400;
// 			font-family: "Roboto", serif;
// 			color: $white;
// 			box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset,
// 				0 0 8px rgba(141, 153, 174, 0);
// 			outline: 0 none;
// 			&::placeholder {
// 				/* Chrome, Firefox, Opera, Safari 10.1+ */
// 				color: $whiteplaceholder;
// 				font-weight: 400;
// 				opacity: 1; /* Firefox */
// 			}

// 			&:-ms-input-placeholder {
// 				/* Internet Explorer 10-11 */
// 				font-weight: 400;
// 				color: $whiteplaceholder;
// 			}

// 			&::-ms-input-placeholder {
// 				/* Microsoft Edge */
// 				font-weight: 400;
// 				color: $whiteplaceholder;
// 			}
// 		}
// 	}
// 	.search-field {
// 		height: 55px;
// 		margin-top: 290px;
// 		margin-left: 160px;
// 		margin-right: 185px;
// 		.s {
// 			width: 70%;
// 		}
// 		.b {
// 			width: 30%;
// 		}
// 		@media (max-width: 1380px) {
// 			.s {
// 				width: 60%;
// 			}
// 			.b {
// 				width: 40%;
// 			}
// 		}
// 		.btn {
// 			height: 55px;
// 			font-weight: 400;
// 			font-size: 14px;
// 			font-family: "Roboto", serif;
// 			padding-left: 30px;
// 			padding-right: 30px;
// 		}
// 		.btn-danger {
// 			background: #a6281b;
// 			border: 0px;
// 			border-radius: 0px;
// 		}
// 		.btn-secondary {
// 			background: #000;
// 			border: 0px;
// 			border-radius: 0px;
// 		}
// 		.form-control {
// 			margin-top: 16px;
// 			background: transparent !important;
// 			border: 0px;
// 			border-bottom: 3px solid $white;
// 			border-radius: 0px;
// 			padding-left: 0px;
// 			font-weight: 400;
// 			font-family: "Roboto", serif;
// 			color: $white;
// 			box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset,
// 				0 0 8px rgba(141, 153, 174, 0);
// 			outline: 0 none;
// 			&::placeholder {
// 				/* Chrome, Firefox, Opera, Safari 10.1+ */
// 				color: $whiteplaceholder;
// 				font-weight: 400;
// 				opacity: 1; /* Firefox */
// 			}

// 			&:-ms-input-placeholder {
// 				/* Internet Explorer 10-11 */
// 				font-weight: 400;
// 				color: $whiteplaceholder;
// 			}

// 			&::-ms-input-placeholder {
// 				/* Microsoft Edge */
// 				font-weight: 400;
// 				color: $whiteplaceholder;
// 			}
// 		}
// 	}
// 	.navbar-brand {
// 		height: 81px;
// 		width: 81px;
// 		margin-left: 155px;
// 		margin-top: 10px;
// 		background-image: url(assets/logo.png);
// 		cursor: pointer;
// 	}
// 	.label {
// 		height: 200px;
// 		text-align: center;
// 		@include v-align;
// 		margin: 0 auto;
// 		h1 {
// 			font-size: 67pt;
// 			font-weight: 300;
// 			font-family: "Roboto Slab", serif;
// 			color: $white;
// 		}
// 		p {
// 			margin: 0 auto;
// 			width: 800px;
// 			font-size: 15pt;
// 			font-weight: 300;
// 			font-family: "Roboto", serif;
// 			color: $white;
// 		}
// 		@media (max-width: 1024px) {
// 			h1 {
// 				font-size: 5.1vw;
// 			}
// 			p {
// 				width: 70%;
// 				font-size: 2.8vw;
// 			}
// 		}
// 		@media (max-width: 500px) {
// 			h1 {
// 				font-size: 5.8vw;
// 			}
// 			p {
// 				width: 70%;
// 				font-size: 3.7vw;
// 			}
// 		}
// 	}
// }
// @media (max-width: 1325px) {
// 	.header {
// 		// height: 570px;
// 		background-image: url(assets/header_adv.jpg);
// 		background-color: #25213f;
// 		background-position: left -285px top 0px;
// 		background-repeat: no-repeat;
// 		.navbar {
// 			padding-right: -120px;
// 		}
// 		.search-field {
// 			height: 55px;
// 			margin-top: 170px;
// 			margin-left: 20px;
// 			margin-right: 20px;
// 		}
// 		.navbar-brand {
// 			margin-left: 0px;
// 			margin-top: 5px;
// 		}
// 		.nav-link {
// 			margin: 2px 7px;
// 		}
// 	}
// 	.headerbasic {
// 		.navbar {
// 			margin-right: -120px;
// 		}
// 		.nav-link {
// 			margin: 2px 5px;
// 		}
// 		.navbar-brand {
// 			margin-left: 0px;
// 			margin-top: 5px;
// 		}
// 	}
// }
// @media (max-width: 1050px) {
// 	.header {
// 		.nav-link {
// 			margin: 2px 2px;
// 		}
// 	}
// 	.headerbasic {
// 		.nav-link {
// 			margin: 2px 2px;
// 		}
// 	}
// }
// @media (min-width: 991px) {
// 	.search-field-sm {
// 		display: none;
// 	}
// }
// @media (max-width: 991px) {
// 	.search-field {
// 		display: none;
// 	}
// 	.search-field-sm {
// 		display: block;
// 	}
// 	.header {
// 		.navbar {
// 			margin-right: 0px;
// 		}
// 		.navbar-brand {
// 			height: 40px;
// 			width: 40px;
// 			background-image: url(assets/logo_sm.png);
// 		}
// 	}
// 	.headerbasic {
// 		.navbar {
// 			margin-right: 0px;
// 		}
// 		.navbar-brand {
// 			height: 40px;
// 			width: 40px;
// 			background-image: url(assets/logo_sm.png);
// 		}
// 	}
// }
// .bg-dark {
// 	background: transparent !important;
// }

.myspiner .black-overlay,
.la-ball-scale-multiple,
.la-ball-spin-clockwise-fade,
.loading-text {
	position: fixed !important;
}
.black-overlay {
	height: 100% !important;
}
/**флаги республик*/
.flag {
	height: 30px;
	width: 50px;
	margin-right: 20px;
	float: left;
	&.u-ssr {
		background-image: url(assets/ussr.png);
	}
	&.b-ssr {
		background-image: url(assets/bssr.png);
	}
	&.est-ssr {
		background-image: url(assets/essr.png);
	}
	&.lit-ssr {
		background-image: url(assets/litssr.png);
	}
	&.lat-ssr {
		background-image: url(assets/latssr.png);
	}
	&.m-ssr {
		background-image: url(assets/mssr.png);
	}
	&.rsfsr {
		background-image: url(assets/rsfsr.png);
	}
	&.kar-fin-ssr {
		background-image: url(assets/kfssr.png);
	}
	&.polsha {
		background-image: url(assets/polsha.png);
	}
	&.germany {
		background-image: url(assets/germany.png);
	}
	&.chehia {
		background-image: url(assets/chehia.png);
	}
	&.avstria {
		background-image: url(assets/avstria.png);
	}
	&.slovakia {
		background-image: url(assets/slovakia.png);
	}
	&.francia {
		background-image: url(assets/francia.png);
	}
	&.estoniya {
		background-image: url(assets/estoniya.png);
	}
	&.litva {
		background-image: url(assets/litva.png);
	}
	&.latviya {
		background-image: url(assets/latviya.png);
	}
	&.norvegiya {
		background-image: url(assets/norvegiya.png);
	}
	&.belgiya {
		background-image: url(assets/belgiya.png);
	}
	&.holand {
		background-image: url(assets/holand.png);
	}
	&.luxemburg {
		background-image: url(assets/luxemburg.png);
	}
	&.vengriya {
		background-image: url(assets/vengriya.png);
	}
}
.my-panel .mat-dialog-container,
.my-map .mat-dialog-container {
	border-radius: 0px;
	padding: 5px;
	background: rgba(162, 39, 28, 1);
	background: -moz-radial-gradient(
		center,
		ellipse cover,
		rgba(162, 39, 28, 1) 0%,
		rgba(143, 2, 34, 1) 17%,
		rgba(37, 33, 63, 1) 100%
	);
	background: -webkit-gradient(
		radial,
		center center,
		0px,
		center center,
		100%,
		color-stop(0%, rgba(162, 39, 28, 1)),
		color-stop(17%, rgba(143, 2, 34, 1)),
		color-stop(100%, rgba(37, 33, 63, 1))
	);
	background: -webkit-radial-gradient(
		center,
		ellipse at bottom,
		rgba(162, 39, 28, 1) 0%,
		rgba(143, 2, 34, 1) 17%,
		rgba(37, 33, 63, 1) 100%
	);
	background: -o-radial-gradient(
		center,
		ellipse at bottom,
		rgba(162, 39, 28, 1) 0%,
		rgba(143, 2, 34, 1) 17%,
		rgba(37, 33, 63, 1) 100%
	);
	background: -ms-radial-gradient(
		center,
		ellipse at bottom,
		rgba(162, 39, 28, 1) 0%,
		rgba(143, 2, 34, 1) 17%,
		rgba(37, 33, 63, 1) 100%
	);
	background: radial-gradient(
		ellipse at bottom,
		rgba(162, 39, 28, 1) 0%,
		rgba(143, 2, 34, 1) 17%,
		rgba(37, 33, 63, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2271c', endColorstr='#25213f', GradientType=1 );
}
.my-map .mat-dialog-container {
	background: $main_bg;
}
.interesting {
	position: relative;
	max-width: 900px;
	width: 100%;
	border: 2px #a6281b solid;
	text-align: center;
	padding: 50px;
	h4 {
		color: #a6281b;
		font-size: 35pt;
		margin-bottom: 0px;
		font-weight: 600;
		font-family: "Roboto Slab", serif;
	}
	.labe {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 12pt;
		font-weight: 300;
		font-family: "Roboto", serif;
		color: #808080;
	}
}
.btn-light {
	font-weight: 300;
	font-family: "Roboto", serif;
	color: #000 !important;
}

.marker-cluster-custom,
.marker-cluster-custom2 {
	background: #a6281b;
	border: 4px solid white;
	color: white;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster-custom2 {
	background: black;
}
.marker-size-sm {
	line-height: 27px;
	border-radius: 20px;
	width: 34px;
	height: 34px;
	margin-left: -12px;
	margin-top: -5px;
}
.marker-size-lg {
	line-height: 33px;
	border-radius: 25px;
	width: 40px;
	height: 40px;
	margin-left: -12px;
	margin-top: -5px;
}

/* customize look of leaflet zoom controls */
.leaflet-bar {
	box-shadow: none;
}
.leaflet-bar {
	background-color: #fb4f14;
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: #fb4f14;
}
/*another-popop style*/
.another-popup .leaflet-popup-content-wrapper {
	background: #fff;
	color: #000;
	font-size: 12px;
	line-height: 24px;
	border-radius: 0px;
	font-family: "Roboto", serif;
	min-width: 200px;
	min-height: 100px;
}
.another-popup .leaflet-popup-content-wrapper a {
	color: rgba(200, 200, 200, 0.1);
}
.another-popup .leaflet-popup-tip-container {
	width: 60px;
	height: 15px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #a6281b !important;
	border: 1px solid #a6281b !important;
}
.custom-radio
	.custom-control-input:hover:checked
	~ .custom-control-label:hover::before {
	background-color: #a6281b !important;
	border: 1px solid #a6281b !important;
}
.custom-radio
	.custom-control-input:hover:checked:disabled
	~ .custom-control-label:hover::before {
	background-color: #a6281b !important;
	border: 1px solid #a6281b !important;
}
.custom-radio .custom-control-label::before {
	background-color: #fff;
}
input[type="radio"] {
	&:focus {
		+ label:before {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0) !important;
		}
	}
}
